:root {
    --green-900:#045140;
    --green-800:#258E67;
    --green-200:#0080001A;
    --green-500:#A0E82F;
    --black-900: #000000;
    --gray-800:#C4C4C4;
    --gray-700:#888888;
    --gray-300:#EBF1EB;
    --dark-blue:#263238;
    --bg-color:#f8f8f8;
    --border-radius:20px;
    --sm:576px;
    --xs:768px;
    --md:991px;
    --lg:1024px;
    --xl:1200px;
    --xxl:1400px;

}

$smooth: all linear 0.4s;
$sm: 576px;
$xs: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1500px;