.council {
    margin-top: 100px;

    .council__flex {
        display: flex;
        align-items: center;
        gap: 30px;

        .left__side {
            width: 50%;

            h2 {
                @include sectionTitle();
                color: var(--dark-blue);
            }

            .list__flex {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }

    /* 
$sm: 576px;
$xs: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1500px;
*/
    @media (max-width:1024px) {
        .council__flex {
            gap: 25px;
            flex-direction: column;

            .left__side {
                width: 100%;

                h2 {
                    line-height: 50px;
                    font-size: 5rem;
                }
            }
        }
    }

    @media (max-width:992px) {
        .council__flex {
            gap: 20px;

            .left__side {
                h2 {
                    line-height: 50px;
                    font-size: 4.5rem;
                }
            }
        }
    }

    @media (max-width:768px) {
        .council__flex {
            .left__side {
                h2 {
                    line-height: 40px;
                    font-size: 3rem;
                }
            }
        }
    }


}