 .employee__section {
     padding-top: 20px;
     margin-top: 70px;

     h2 {
         margin-bottom: 25px;
         color: var(--dark-blue);
         @include sectionTitle();
     }

     .second__title {
         margin: 20px 0;
     }

     .employee__flex {
         display: flex;
         align-items: center;
         gap: 25px;
         flex-wrap: wrap;

         &>div {
             width: 22%;
         }
     }

     @media (max-width:1278px) {
         .employee__flex {
             &>div {
                 width: 24%;
             }
         }
     }
 @media (max-width:576px) {
         h2 {
             text-align: center;
         }
     }

 }