.page__header {
    background: url(@/assets/images/shape.png), var(--bg-color);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.purpose_section {
    background: var(--bg-color);
    padding-top: 30px;

    .purpose_flex {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .purpose_list {
        flex: 1;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            display: flex;
            align-items: center;
            gap: 25px;

            .list_img {
                display: flex;
                width: 80px;
                height: 80px !important;
                align-items: center;
                justify-content: center;
                background: var(--green-200);
                border-radius: 100%;

                img {
                    max-width: 40px;
                    max-height: 40px;
                }
            }

            .list_desc {
                max-width: 374px;
            }

            .sub_list {
                display: flex;
                flex-direction: column;

                li {
                    list-style-type: decimal !important;
                    font-size: 1.6rem;
                    line-height: 24px;
                    font-weight: 400;
                    color: var(--dark-blue);
                }
            }

        }


    }

    .invest__flex {
        margin: 80px 0;
        display: flex;
        align-items: center;
        gap: 60px;

        .invest__desc {
            h3 {
                @include sectionTitle();
                color: var(--dark-blue);

                span {
                    color: var(--green-900);
                }
            }

            .invest__info {
                color: var(--dark-blue);
                font-size: 1.6rem;
                line-height: 28.32px;
                font-weight: 400;
            }
        }

    }

    //  finance
    .finance_flex {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 80px 0 40px;

    }

    .finance_left {
        width: 100%;
        max-width: 50%;

        h2 {
            @include sectionTitle();
            color: var(--dark-blue);
            span {
                color: var(--green-900);
            }
        }

    }

    .finance_img {
        max-width: 50%;
        width: 100%;
        background-color: var(--gray-800);
        border-radius: var(--border-radius);
        height: 600px;
        max-height: 650px;

    }

    @media (max-width:1400px) {
        .purpose_list {
            gap: 20px;
            padding-left: 15px;

            li {

                .list_img {
                    width: 68px;
                    height: 68px !important;
                    border-radius: 100%;

                    img {
                        max-width: 33px;
                        max-height: 33px;
                    }
                }

                .list_desc {
                    max-width: 374px;
                }
            }


        }
    }


    @media (max-width:1200px) {
        .purpose_flex {
            gap: 25px;
        }

        .purpose_list {
            gap: 20px;

            li {
                gap: 20px;

                .list_img {
                    width: 65px;
                    height: 65px !important;

                    img {
                        max-width: 30px;
                        max-height: 30px;
                    }
                }

                .list_desc {
                    max-width: 374px;
                }
            }


        }

        //  invest 
        .invest__flex {
            margin: 80px 0;
            gap: 60px;
        }

        // finance
        .finance_flex {
            gap: 25px;
            margin: 60px 0 40px;
        }

        .finance_left {
            width: 100%;
            max-width: 50%;
        }

        .finance_img {
            height: 600px;
        }

    }

    @media (max-width:1024px) {
        .purpose_flex {
            gap: 25px;
            flex-direction: column;
        }

        .purpose_list {
            gap: 20px;
            max-width: 100% !important;
            width: 100%;

            li {
                gap: 25px;

                .list_img {
                    width: 65px;
                    height: 65px !important;

                    img {
                        max-width: 30px;
                        max-height: 30px;
                    }
                }

                .list_desc {
                    max-width: 80%;
                }
            }
        }


        .invest__flex {
            margin: 60px 0;
            flex-direction: column-reverse;
            gap: 60px;

            .invest__desc {
                padding-left: 15px;

                h3 {
                    text-align: center;
                }
            }

        }

        .finance_flex {
            gap: 25px;
            margin: 60px 0 40px;
            flex-direction: column;
        }

        .finance_left {
            width: 100%;
            max-width: 100%;
        }

        .finance_img {
            max-width: 75%;
            height: 600px !important;
        }
    }

    @media (max-width:768px) {
        .purpose_list {
            gap: 25px;
            padding-left: 0px;

            li {
                gap: 30px;

                .list_img {
                    width: 58px;
                    height: 58px !important;
                    border-radius: 100%;

                    img {
                        max-width: 28px;
                        max-height: 28px;
                    }
                }

                .list_desc {
                    max-width: 80%;
                }

                .sub_list {

                    li {
                        font-size: 1.4rem;
                        line-height: 20px;
                    }
                }
            }
        }

        .invest__flex {


            .invest__desc {
                h3 {
                    text-align: center;
                }
            }

        }

        .finance_left {
            width: 100%;
            max-width: 100%;
        }

        .finance_img {
            // height: 450px !important;
            max-width: 90%;
            margin: 0 auto;
        }
    }

    @media (max-width:576px) {
        .purpose_list {
            gap: 20px;

            li {
                gap: 15px;

                .list_img {
                    width: 50px;
                    height: 50px !important;

                    img {
                        max-width: 26px;
                        max-height: 26px;
                    }
                }

                .list_desc {
                    max-width: 80%;
                }
            }


        }



        .finance_left {
            width: 100%;
            max-width: 100%;



            .accordion_box {
                height: 270px;
            }
        }

        .finance_img {
            height: 450px !important;
            max-width: 95%;
            margin: 0 auto;
        }
    }

}